<section class="section hero">
    <video class="hero__video" loop="loop" muted="muted" autoplay="autoplay" playsinline="" >
        <source src="public/videos/<%= t(:sitelanguage) %>/basket.mp4" type="video/mp4" />
    </video>

    <div class="hero__text">
        <h1 class="t-title hero__title"><%= t(:hero_title) %></h1>
        <p class="t-body hero__intro"><%= t(:hero_intro) %></p>
    </div>
</section>
