@charset "utf-8";

$desktop-breakpoint = 768px;
$mobile-breakpoint = 500px;

$c-white = #fff;
$c-blue = #163288;

// Imports
@require "~normalize.css";
@require "mixins/*.styl";
@require "utils";
@require "app/**/*";
