<div class="main__wrap">
    <%= partial 'partials/hero' %>
    <%= partial 'partials/instagram-feed' %>
</div>
<div class="main__wrap">
    <%= partial 'partials/explained' %>
    <%= partial 'partials/showcase' %>
</div>
