// https://github.com/jackbrewer/stylus-mixins/blob/master/lib/stylus-mixins/media/hidpi.styl
hidpi($ratio = 1.3, $parent = false)
  $mq = '(-webkit-min-device-pixel-ratio: ' + $ratio + '), '
  $mq = $mq + '(min--moz-device-pixel-ratio: ' + $ratio + '), '
  $mq = $mq + '(-o-min-device-pixel-ratio: ' + $ratio + '/1), '
  $mq = $mq + '(min-device-pixel-ratio: ' + $ratio + '), '
  $mq = $mq + '(min-resolution: ' + floor($ratio * 96) + 'dpi),'
  $mq = $mq + '(min-resolution: ' + $ratio  + 'dppx)'

  if ($parent == false)
    @media $mq
        {block}
  else
      @media $mq
        {$parent}
            {block}
